---
# tasks file for buildserver
- name: Create build_server image
  community.docker.docker_image:
    build:
      path: ./files
      rm: yes
      pull: yes
    name: "{{ build_server_name | default('build_server') }}"
    source: build
    state: present
    tag: "{{ server_version | default('latest') }}"
